<h2 class="big-text">Форма добавления машин</h2>

<hr>

<app-add-car (addCar)="updateCarList($event)"></app-add-car>

<hr>

<div class="list-group">
  <app-car class="list-group-item" *ngFor="let car of cars" [carItem]="car">
  <div class="alert alert-info">Машина продана.</div>
  </app-car>
</div>
